name: Coverity
on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  Coverity:

    runs-on: ubuntu-24.04
    timeout-minutes: 120
    steps:
  
    - uses: actions/checkout@v4
    
    - name: Install systemd-dev
      run: sudo apt update && sudo apt install libsystemd-dev libpam-dev ninja-build   

    - name: Install meson
      run: sudo pip3 install --break-system-packages -U meson inflection mako cmake==3.30.5 # workaround https://github.com/mesonbuild/meson/issues/13888

    - name: Configure bmcweb
      run: CXX=g++-13 CC=gcc-13 meson setup builddir -Dtests=disabled
      
    - uses: vapier/coverity-scan-action@v1
      with:
        email: ${{ secrets.COVERITY_SCAN_EMAIL }}
        token: ${{ secrets.COVERITY_SCAN_TOKEN }}
        build_language: 'cxx'
        project: 'openbmc/bmcweb'
        command: 'ninja -C builddir -j 1 bmcweb'
        description: 'github action triggered build'
