name: SonarCloud

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  Analysis:
    runs-on: ubuntu-24.04
    timeout-minutes: 120
    env:
      BUILD_WRAPPER_OUT_DIR: build_wrapper_output_directory
    steps:
      - uses: actions/checkout@v4
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Install meson
        run: sudo pip3 install --break-system-packages -U meson inflection mako

      - name: Install systemd-dev
        run: sudo apt update && sudo apt install libsystemd-dev libpam-dev ninja-build cmake

      - name: Install Build Wrapper
        uses: SonarSource/sonarqube-scan-action/install-build-wrapper@v6

      - name: Configure bmcweb
        run: CXX=g++-13 CC=gcc-13 meson setup builddir -Dtests=disabled

      - name: Run build-wrapper
        run: |
          build-wrapper-linux-x86-64 --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} ninja -C builddir

      - name: Run sonar-scanner
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
        with:
          args: >
            --define "sonar.verbose=true"
            --define "sonar.projectVersion=${{ github.sha }}"
            --define "sonar.projectKey=edtanous_bmcweb"
            --define "sonar.organization=edtanous"
            --define "sonar.python.version=3.12"
            --define "sonar.cfamily.compile-commands=${{ env.BUILD_WRAPPER_OUT_DIR }}/compile_commands.json"

